@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Hind";
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white;
  overflow-x: hidden;
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  top: -90px;
  height: 160px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(45px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
}

.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  top: 80px;
  height: 120px;
  width: 100vw;
  opacity: 0.35;
  filter: blur(50px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
html.cursor-none,
html.cursor-none * {
  cursor: none !important;
}

/* Cursor idle/active opacity */
.custom-cursor.cursor-active {
  opacity: 1 !important;
  transition: opacity 200ms ease;
}

.custom-cursor.cursor-idle {
  opacity: 0.25 !important;
  transition: opacity 200ms ease;
}

body {
  overflow-x: hidden; /* also helps the horizontal scroll issue */
}

